name: Validacion Docker CI

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar repositorio
        uses: actions/checkout@v4

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Validar configuracion de compilacion
        uses: docker/build-push-action@v6
        with:
          call: check

      - name: Construir imagen
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: validacion/app:latest